<Jumbo>
    <h2>About Super Rentals</h2>
    <p>
        The Super Rentals website is a great project created to explore EmberJS.  By building a property rental site, we can simultaneously imagine traveling AND
        building EmberJS applications.
    </p>
    <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>